body{
    background-color: bisque;
}

ul{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: normal;
    
}
ol{
    font-weight: bolder;
    color: chocolate;
    columns: auto;
}
h1{
    color:red ;
}
.Navbar{
    font-size:large;
    display: inline-block;
}
.Reviews{
    color: maroon;
    font-weight: bolder;
    font: large;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
}